@use '../functions/_all' as *;

@mixin aspect-ratio-flexible($width, $height) {
  position: relative;
  &::before {
    content: '';
    float: left;
    padding-top: ($height / $width) * 100%;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
